@import 'app';

.root {
  height: 100%;
  position: relative;
  left: 0;
}

.wrap {
  position: relative;
  min-height: 100vh;
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  //min-height: 100vh;
  padding-left: 20px; 
  padding-right: 20px; 
  display: flex;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  
  @media print {
    margin: 0;
  }

  @media (max-width: breakpoint-max(sm)) {
    margin-left: 0;
    left: 0;
  }

  :global(.sidebar-right) & {
    margin-left: 0;
  }

  :global(.sidebar-hide) & {
    margin: 0;
  }
}

.content {
  position: relative;
  flex-grow: 1;
  // 20px for footer height
  padding: 25px $content-padding ($content-padding + 20px);
  align-items: center;
  justify-content: center;
  

  @media (max-width: breakpoint-max(sm)) {
    padding: 20px 15px;
  }

  // hammers disallows text selection, allowing it for large screens
  @media (min-width: breakpoint-min(sm)) {
    user-select: auto !important;
  }
  
}

.contentFooter {
  position: absolute;
  bottom: 15px;
  justify-content: right;
  color: gray;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(33, 178, 226);
  background-color: transparent;
  text-decoration: underline;
}