<html>
<head>
  <title>A Leaflet map!</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <style>
    #map{ height: 100% }
  </style>
</head>
<body>

  <div id="map"></div>

  <script>

  // initialize the map
  var map = L.map('map').setView([10.323176,123.93145], 15);

  // load a tile layer
  L.tileLayer('https://api.maptiler.com/maps/pastel/{z}/{x}/{y}.png?key=leLR1VA8lmHQnwK3WZM9',
    {
      attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>',
      maxZoom: 17,
      minZoom: 9
    }).addTo(map);

    var marker1 = L.marker([10.323176,123.93145]).addTo(map);
    var marker2 = L.marker([10.33176,123.9145]).addTo(map);
    marker1.bindPopup("<b>Facility Name 1</b><br>Total Samples Tested:").openPopup();
    marker2.bindPopup("<b>Facility Name 2</b><br>Total Samples Tested:").openPopup();


  </script>
</body>
</html>
	