.app{
  min-height: 100vh;
  background: lightblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section{
  height: 100px;
  width: 200px;
  font-size: 20px;
  background: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}