.app{

  min-height: 100vh;
  padding-left: 20px; 
  padding-right: 20px; 
  background: lightblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.section{
  height: 70px;
  width: 200px;
  font-size: 20px;
  background: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
